TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTk0OTE1NjgsImlkIjoiMGFkNTQ4ODUtMzE2Zi00YTY3LTgwM2ItODE0MjdkOTY4MGUxIiwicmlkIjoiY2I2ZmYyMjItYzRiMi00NTY1LWI4YjQtNmNlMmQxZDVjMzJjIn0.ZIJvrDJE1bGQNzHMS8GpE0WV_hJEk2bSxIKsQPLRulAyGhyg-TNSPSv6IVgS-4QSYlNrIAOPjYUhh_6OTk61Ag"
TURSO_DATABASE_URL="libsql://yummenu-vercel-icfg-qfdpoj1bis5highmoy7ktqv7.aws-us-east-1.turso.io"